<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Semantic-UI-CSS-master/semantic.min.css"> <!--semantic css파일 연결,static폴더사용하기때문에 public폴더 하위를 지정 -->
    <script src="/Semantic-UI-CSS-master/semantic.min.js"></script>  <!--semantic css파일 연결,static폴더사용하기때문에 public폴더 하위를 지정 -->
</head>
<body>
    {{{body}}} <!--home.hbs내 h1태그 내용이 body로 랜더링된다 -->
</body>
</html>